/* Start The coder-kit Code */

/* start Container class with all screen */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container class with all screen */

/* Start Background Color */
.bg-none {
  background-color: transparent;
}
.bg-white {
  background-color: white;
  color: black;
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-light {
  background-color: #f8f9fa;
  background-color: white;
}
.bg-primary {
  background-color: #007bff;
  color: white;
}
.bg-secondary {
  background-color: #6c757d;
  color: white;
}
.bg-success {
  background-color: #28a745;
  color: white;
}
.bg-danger {
  background-color: #dc3545;
  color: white;
}
/* End Background Color */
/* Start Border Class's And Border Radius*/
.border {
  border: 1px solid #eee;
}
.border-top {
  border-top: 1px solid #eee;
}
.border-left {
  border-left: 1px solid #eee;
}
.border-right {
  border-right: 1px solid #eee;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}
.border-none {
  border: none;
}
.border-top-0 {
  border-top: 0;
}
.border-right-0 {
  border-right: 0;
}
.border-left-0 {
  border-left: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}
.border-dotted {
  border: 1px dotted #eee;
}
.border-dashed {
  border: 1px dashed #eee;
}

/* Start Border Color */
.border-primary {
  border: 1px solid #007bff;
}
.border-secondary {
  border: 1px solid #6c757d;
}
.border-success {
  border: 1px solid #28a745;
}
.border-danger {
  border: 1px solid #dc3545;
}
/* Start Border Color */

/* Start Border Radius*/
.radius {
  border-radius: 50%;
}
.radius-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.radius-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.radius-top-left {
  border-top-left-radius: 10px;
}
.radius-top-right {
  border-top-right-radius: 10px;
}
.radius-bottom-left {
  border-bottom-left-radius: 10px;
}
.radius-top-right {
  border-bottom-right-radius: 10px;
}
/* End Border Radius*/

/* End Border Class's And Border Radius*/
